@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body{
    background-color: #F2F2F2;
}
main{
    font-family: 'Roboto', sans-serif;
    width: 500px;
    border: 3px solid rgb(221, 215, 215);
    margin: 3em auto auto auto;
    border-radius: .8em;
    background-color: white;
    padding: 1em 0;
}
main h2{
    color: purple;
    font-weight: 500;
    text-align: center;
}
form{
    margin: 1em 0;
    padding: 0 2em;
}
.input-group{
    margin: 1em 0;
    padding: .5em 0;
}
label{
    display: block;
    text-align: left;
    margin-bottom: .5em;
}
.input-block{
    padding: .6em 0;
    width: 100%;
    font-size: 16px;
}
.btn{
    width: 100%;
    padding: .8em 0;
    color: white;
    background-color: purple;
    border: none;
}
.btn:hover{
    color: white;
    background-color: rgb(7, 7, 139);
}
/*error and success class*/
.error > small{
    color: red;
    
}
.error > .input-block{
    border: 2px solid red;
}
.success > small{
    color: green;   
}
.success > .input-block{
    border: 2px solid green;
}

@media screen and (max-width: 768px) and (min-width:500px) {
    main{
        width: 80%;
    }
}
@media screen and (max-width: 425px) and (min-width:100px) {
    main{
        width: 100%;
    }
    form{
        padding: 0 1em;
    }
    .input-block{
        padding: .4em 0;
        font-size: 15px;
    }

}